

html
  head
    title It's A Game.
    link(rel="stylesheet",href="/-/css/index.css")
    include ../lib/styles.jade
  body
    .container
      canvas#canvas
    include ../lib/footer.jade
    script(src="/-/js/index.js")